.calculation {
  height: 120px;
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  border-bottom: 0;
  font-size: 50px;
  text-align: right;
  padding: .4em;
  background-image: -webkit-linear-gradient(top, rgba(228, 238, 143, 0), rgba(230, 213, 66, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom,  rgba(228, 238, 143, 0), rgba(230, 213, 66, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}

// .result {
//   height: 80px;
//   border-top: 0;
//   border-left: solid 1px grey;
//   border-right: solid 1px grey;
//   border-bottom: solid 1px grey;
//   font-size: 40px;
//   text-align: right;
//   padding: .2em;
//   font-weight: bold;
//   // background-image: -webkit-linear-gradient(top, rgba(228, 238, 143, 0), rgba(230, 213, 66, 0.3));
//   // background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
//   // background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
//   // background-image: linear-gradient(to bottom,  rgba(228, 238, 143, 0), rgba(230, 213, 66, 0.3));
//   // -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
//   // box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
// }

.custButton {
  border: solid 1px grey;
  background-color: rgb(61, 60, 65);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  height: 100px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  color: white;
}

.custButton:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.clear{
  border: solid 1px grey;
  background-color: rgb(221, 36, 36);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  height: 100px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  color: white;
}

.clear:hover{
  background-color: rgb(117, 231, 155);
  color: white;
  cursor: pointer;
}
// .button {
//   display: inline;
// }

// .button .buttonNumber {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
// .button .buttonNumber div {
//   border: solid 1px grey;
//   margin: 20px;
//   width: 100px;

// }

// .button .buttonOperator {
//   width: ;
// }