<div class="container">
  <div class="calculation" [innerHTML]="temp"></div>
  <div class="result" [innerHTML]="hasil"></div>
  <div class="row mt-2">
    <div class="col-8">
      <div class="row no-gutters">
        <div class="col-4 text-center custButton" (click)="addToTemp('1')">1</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('2')">2</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('3')">3</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('4')">4</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('5')">5</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('6')">6</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('7')">7</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('8')">8</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('9')">9</div>
        <div class="col text-center custButton" (click)="addToTemp('0')">0</div>
        <div class="col-4 text-center custButton" (click)="addToTemp('.')">.</div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 text-center custButton" (click)="onclear()">Clear</div>
      <div class="col-12 text-center custButton" (click)="addToTemp('+')">+</div>
      <div class="col-12 text-center custButton" (click)="addToTemp('-')">-</div>
      <div class="col-12 text-center custButton" (click)="addToTemp('/')">/</div>
      <div class="col-12 text-center custButton" (click)="addToTemp('*')">*</div>
      <div class="col-12 text-center custButton" (click)="onresult()">=</div>
    </div>
  </div>
</div>